{% extends 'base.html' %}

{% block title %}רשימת שמות מתחם{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <section class="col-lg-6 text-center">
        <p>
            רשימת שמות מתחם שאינם מפנים לחיבור מאובטח כברירת מחדל:
        </p>
        <ul class="list-unstyled">
            {% for tld in tld_list %}
            {% for domain in tld.domain_list if not domain.redirect_state and not domain.connection_error %}
            <li><a href="/domain/{{ domain }}.html">{{ domain }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
