{% extends 'base.html' %}

{% block title %}{{ domain }}{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <section class="col-lg-6 text-center">
        <p>
            שם המתחם:<br>
            <strong>{{ domain }}</strong>
        </p>
        <p>
            האם האתר מפנה אוטומטית לחיבור מאובטח?<br>
            {% if domain.redirect_state %}
            <i class="fa fa-check-circle text-success"></i>
            {% else %}
            <i class="fa fa-times-circle text-danger"></i>
            {% endif %}
        </p>
        <p>
            בדיקה אחרונה:<br>
            <span dir="ltr">{{ domain.updated_il }}</span>
        </p>
        {% if domain.redirect_target %}
        <p>
            יעד ההפניה היה:<br>
            {{ domain.redirect_target }}
        </p>
        {% endif %}
    </section>
</div>
{% endblock %}
