{% extends 'base.html' %}

{% block title %}שמות מתחם ברמה השנייה{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <section class="col-lg-6 text-center">
        <p>
            רשימת שמות מתחם העליונות אותם אנחנו בודקים
        </p>
        <ul class="list-unstyled">
            {% for tld in tld_list %}
            <li><a href="/tld/{{ tld }}.html">{{ tld }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
