{% extends 'base.html' %}

{% block title %}שמות מתחם ברמה השלישית - {{ tld }}{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <section class="col-lg-6 text-center">
        <p>
            רשימת אתרים תחת שם המתחם <strong dir="ltr">{{ tld.name }}</strong>
        </p>
        <ul class="list-unstyled">
            {% for domain in tld.domain_list if not domain.redirect_state and not domain.connection_error %}
            <li><a href="/domain/{{ domain }}.html">{{ domain }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
