{% extends 'base.html' %}

{% block title %}דף הבית{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <section class="col-lg-8">
        <p>
            פרויקט <strong>HTTPS Watch</strong> מנסה לקדם את אבטחת תקשורת האינטרנט הנפוצה ביותר, HTTP.<br>
            תקשורת זו הידועה בלשון העם פשוט כ"אינטרנט", חשופה כיום לניצולים של מתווכים במקרה הרע פחות, ותקיפות של גורמים עוינים במקרה הרע יותר.
        </p>
    </section>
</div>
<div class="row justify-content-center">
    <section class="col-lg-6 text-center">
        <p>
            רשימת שמות המתחם:
        </p>
        <ul class="list-unstyled">
            {%- for tld in tld_list %}
            <li>
                <strong><a href="/tld/{{ tld }}.html">{{ tld }}</a></strong>
                <ul class="list-unstyled">
                    {%- for domain in tld.domain_list[0:3] %}
                    <li><a href="/domain/{{ domain }}.html">{{ domain }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
