<div class="row justify-content-center">
    <footer class="col-lg-6 text-center">
        <hr>
        מצאתם טעות? יש אתר שצריך להוסיף?<br>
        <a href="https://gitlab.com/uda/https-watch/issues">הוסיפו לנו משימה</a><br>
        או <a href="mailto:watch@https.org.il">שילחו הודעה לכתובת watch@https.org.il</a>
    </footer>
</div>