<div id="main-navbar" class="">
    <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">HTTPS.org.il</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {%- for tld in tld_list %}
                <li class="nav-item"><a class="nav-link" href="/tld/{{ tld }}.html">{{ tld }}</a></li>
                {% endfor -%}
            </ul>
        </div>
    </nav>
</div>
